:root {
    --text: #E6E6E6;
    --neutral: #005F73; /* 5.8 Ratio */
    --darker: #014D5F; /* 7.6 Ratio */
    --realDarker: #013B4C; /* 9.7 Ratio */
    --textForLighterBg: #252525;
    --brighter: #819EA9; /* 5.4 Ratio */
    --realBrighter: #ABC0C9; /* 8.1 Ratio */
}

/* Sans-Serif font */
@font-face {
    font-family: "Inter";
    src: url("./res/fonts/Inter-VariableFont_whgt.ttf");
}
/* Serif font */
@font-face {
    font-family: "Lora";
    src: url("./res/fonts/Lora-VariableFont_wght.ttf");
}

/* Small reset */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: clamp(2.4rem, calc(1.8rem + 2vw), 5rem);
}

h2 {
    font-size: clamp(2.2rem, calc(1.78rem + 1.385vw), 3.6rem);
    color: var(--text);
    margin-bottom: 20px;
}

body {
    background-color: var(--darker);
}

/* -------------------------------------------------------*/
/*                      Header styling                    */
/* -------------------------------------------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    color: var(--text);
    background-color: var(--realDarker);
    user-select: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(2.4rem, calc(1.8rem + 2vw), 5rem);
    text-transform: uppercase;
    margin-top: 30px;
    height: 50px;
}

nav li {
    display: flex;
    justify-content: baseline;
    list-style: none;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: var(--brighter) 0px 0px 1px 1px;
    transition: box-shadow .2s;
}

nav li:hover {
    box-shadow: var(--realBrighter) 0px 0px 5px 2px;
}

nav a {
    text-decoration: none;
    color: var(--text);
    font-size: 3rem;
}

nav a svg {
    transform: translateY(3px);
    padding-right: 5px;
}

/* -------------------------------------------------------*/
/*                      Section styling                   */
/* -------------------------------------------------------*/

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 25px auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 300px);
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    gap: 15px;
}

article {
    position: relative;
    background-color: var(--neutral);
    color: var(--text);
    width: 300px;
}

article::before, article::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 3px;
    left: 10px;
    background-color: var(--realDarker);
}

article::before {
    top: 15px;
}

article::after {
    top: calc(100% - 15px);

}

h3, p {
    padding: 8px 15px;
}

h3:first-child {
    text-align: center;
    padding-top: 30px;
}

p:last-child {
    padding-bottom: 30px;
}

h3 {
    font-size: clamp(2rem, calc(18.8rem + 0.385vw), 2.5rem);
}

p {
    font-size: clamp(1.8rem, calc(17.5rem + 0.154vw), 2rem);
}

/* -------------------------------------------------------*/
/*                         RESPONSIVE                     */
/* -------------------------------------------------------*/

@media (max-width: 1599px) {
    .container {
        grid-template-columns: repeat(4, 300px);
    }
}

@media (max-width: 1299px) {
    .container {
        grid-template-columns: repeat(3, 300px);
    }
}

@media (max-width: 999px) {
    .container {
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width: 699px) {
    .container {
        grid-template-columns: 300px;
    }

    .svg {
        display: none;
    }
}

/* ---------------- */

.alert {
    width: 500px;
    text-align: center;
    margin: 15px auto;
    padding: 50px;
    border-radius: 12px;
    background-color: var(--brighter);
}

.alert h2 {
    font-size: 3rem;
    color: var(--textForLighterBg);
}