:root {
    --text: #E6E6E6;
    --accent: #D89C82; /* 9.7 Ratio */
    --textForLighterBg: #252525;
    --neutral: #9AA6B2;
    --brighter: #F3E0D8; /* 5.4 Ratio */
    --realBrighter: #E7C1B1; /* 8.1 Ratio */
    
}

/* Sans-Serif font */
@font-face {
    font-family: "Inter";
    src: url("./res/fonts/Inter-VariableFont_whgt.ttf");
}
/* Serif font */
@font-face {
    font-family: "Lora";
    src: url("./res/fonts/Lora-VariableFont_wght.ttf");
}

/* Small reset */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: clamp(2.4rem, calc(1.8rem + 2vw), 5rem);
    text-shadow: #252525 0px 0px 4px;
}

h2 {
    font-size: clamp(2rem, calc(1.78rem + 1.385vw), 2.5rem);
    color: var(--textForLighterBg);
    padding: 20px 0;
}

body {
    background-color: var(--brighter);
}

/* -------------------------------------------------------*/
/*                      Header styling                    */
/* -------------------------------------------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    color: var(--brighter);
    background-color: var(--accent);
    user-select: none;
}

/* -------------------------------------------------------*/
/*                      Section styling                   */
/* -------------------------------------------------------*/

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 25px auto;
    max-width: 100%;
    min-width: 300px;
}

section p {
    max-width: 90%;
}

h3, p {
    padding: 8px 15px;
}

h3 {
    font-size: clamp(2rem, calc(18.8rem + 0.385vw), 2.5rem);
}

p {
    font-size: clamp(1.8rem, calc(17.5rem + 0.154vw), 2rem);
}

button {
    display: inline-block;
    width: 250px;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: "Lora";
    font-weight: bolder;
    margin-top: 20px;
    text-shadow: #252525 0 0 4px;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text);
    background-color: var(--accent);
    border: 2px solid;
    border-color: transparent;
    border-radius: 6px;
    box-shadow: var(--textForLighterBg) 0 3px 0;
    transform: scale(.95);
    transition: transform .3s ease-in-out, border-color .3s ease-in, box-shadow .3s ease-in-out;
}

button:hover {
    transform: scale(1);
    border-color: var(--accent);
    background-color: var(--realBrighter);
}

button:active {
    transform: translateY(3px);
    box-shadow: 0 0 0;
}